@import url('https://fonts.googleapis.com/css?family=Dosis:600');

.workFlexRowSpaceAround{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: stretch;
}

.work_projectsTitle{
    margin: 0 auto;
    font-family: 'Dosis', sans-serif;
    font-size: 2.5em;
    color: #FFF;
}

.workContainer{
    margin: 0px auto;
    margin-top: 60px;
    align-items: center;
    text-align: center;
    /* height: 300px; */
    width: 75vw;
    /* background: grey; */
    /* text-decoration: none; */
    font-family: 'Dosis', sans-serif;
    color: #FFF;
}

.workAtags{
    text-decoration: none;
    font-family: 'Dosis', sans-serif;
    color: #FFF;
    font-size: 1.75em;
    width: 1000px;
}

.workDescriptionContainer{
    display: flex;
    margin-top: 15px;
    /* width: 1000px; */
    flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
}
.workSetWidth{
    font-size: 1.1em;
    height: 200px;
    width: 333px;
    /* margin: 0 5px; */
    border-width: .5px;
    border-style: solid;
    border-color: #FFF;
    padding: 7px;
}

.workSetWidthNoPadding{
    height: 200px;
    width: 333px;
    /* margin: 0 5px; */
    border-width: .5px;
    border-style: solid;
    border-color: #FFF;
    object-fit: contain;
    padding: 7px;
}

@Media(max-width: 600px){
    .workContainer{
        margin: 10px auto;
        width: 100vw;
    }
}
